.content {
	width: 76.8%;
	margin: 0 auto;
	background-color: #fef;
	text-align: left;
	max-width: 125em;
	min-width: 62em;
}

.content .primary {
	width: 72.82%;
	float: right;
	display: inline;
}

.content .secondary {
	width: 25%;
	float: left;
	display: inline;
}

.content .primary .primary {
	width: 59.7%;
	float: left;
	display: inline;
}

.content .primary .secondary {
	width: 34.33%;
	padding-right: 2.63%;
	float: right;
	display: inline;
}