*{
	box-sizing: border-box;
}

.container{
	width: 100%;
	display: block;
	padding: 10px;
	margin:0;
}


[class*='col-'] {
	float: left;
	padding: 10px;
}

.content {
	border: #999 solid 1px;
	background-color: #eee;
	height: 48px;
}


@media only screen and (min-width: 769px) {

.col-md-1 {
	width: 8.33%;
}
.col-md-2 {
	width: 16.66%;
}
.col-md-3 {
	width: 25%;
}
.col-md-4 {
	width: 33.33%;
}
.col-md-5 {
	width: 41.66%;
}
.col-md-6 {
	width: 50%;
}
.col-md-8 {
	width: 66.66%;
}
}
@media only screen and (max-width: 768px) {

.col-sm-2 {
	width: 16.66%;
}
.col-sm-3 {
	width: 25%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-8 {
	width: 66.66%;
}
.col-sm-12 {
	width: 100%;
}
}
