body{
	padding: 0;
	margin: 0;
}
div{
	padding: 0;
	margin: 0;
}

.flex-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items:center;
}

.flex-item{
	width: 150px;
	padding: 20px;
	border: 1px solid #f00;
	
}
.first{
	height: 120px;
}
.second{
	height: 100px;
}
.third{
	height: 40px;
}
.forth{
	height: 200px;
}

@media (max-width: 640px) {
.forth{
	height: 200px;
	order: -1;
}

.third{
	height: 40px;
	margin-top: 20px;
}

}