body {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
}

.container {
	min-width: 1280px;
	font:14px 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Microsoft Yahei', simsun, sans-serif;
	color: #777;
}
.group:before,
.group:after{
	content: "";
	display:table;
}
.group:after{
	clear: both;
}



/*nav*/
nav {
	position: relative;
	width: 100%;
	height: 57px;
	background-color: #fff;
	top: 0;
	margin: 5px auto;

}

nav h1 {
	font-size: 21px;
	font-family: "Microsoft YaHei";
	position: absolute;
	left: 60px;
	bottom: 20px;
	background: #fff url("../image/task07/nav-logo.png") no-repeat;
	padding-left: 40px;

}
nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	float: left;
	padding-right: 45px;
}
nav ul li a {
	text-decoration: none;
	font-size: 14px;
	color: #999;
}

.login{
	background: #fff url("../image/task07/nav-user.png") no-repeat;
	color: #ff6666;
	padding-left: 20px;
	margin-right: 60px;
}

/*sologan*/

.sologan{
	height: 690px;
	background: #fff url("../image/task07/slogan-bg.png") no-repeat;
	background-size: cover;
}

.sologan .title {
	font-size: 48px;
	color: #fff;
	padding-top: 230px;
	margin-left: 117px;
	margin: 0  0 30px 117px;
}

.sologan .detail{
	font-size: 21px;
	color: #fff;
	margin: 0 0 12px 126px;
}

.btn-start{
	display: block;
	width: 330px;
	height: 64px;
	line-height: 64px;
	color: #fff;
	background-color: #e74f4d;
	text-decoration: none;
	text-align: center;
	font-size: 28px;
	border-radius: 2px;
	margin-left: 117px;
	margin-top: 60px;
}

/*tag*/
.tag {
	height: 205px;
	background-color: #fff;
	padding-top: 45px;
}

.tag ul{
	list-style: none;	
}
.tag ul li {
	width: 25%;
	float: left;
	text-align: center;
	padding-top: 90px;
}

.tag ul li:nth-child(1){
	background: #fff url("../image/task07/advancement-1.png") no-repeat 50% 0;
	


}
.tag ul li:nth-child(2){
	background: #fff url("../image/task07/advancement-2.png") no-repeat 50% 0;
	
}
.tag ul li:nth-child(3){
	background: #fff url("../image/task07/advancement-3.png") no-repeat 50% 0;
	
}
.tag ul li:nth-child(4){
	background: #fff url("../image/task07/advancement-4.png") no-repeat 50% 0;
}
.tag ul li div p{
	margin: 5px;
}

/*world*/
.world{
	height: 360px;
	background-color: #ededec;
}

.world h1{
	background: #ededec url("../image/task07/question-logo.png") no-repeat 50% 50%;
	text-align: center;
	font-size: 53px;
	font-family: "SimHei";
	padding-top: 230px;
	margin-top: 0;
}

/*search*/
.search {
	height: 340px;
	background: #fff url("../image/task07/search-bg.jpg") no-repeat;
	background-size: cover;

}

.search h2{
	font-size: 21px;
	color: #fff;
	text-align: center;
	padding-top: 50px;
	margin-top: 0;
}

.line {
	width: 31px;
	height: 3px;
	background: #fff;
	margin:10px auto;
}

.search p{
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.search ul.a {
	list-style: none;
	margin-top: 73px;
}

.search ul.a>li{
	float: left;
	margin-left: 27px;
	position: relative;

}

.search ul.a >li:nth-child(1){
	margin-left: 125px;

}

.bg{
	background:#fff url("../image/task07/select-bg.png") no-repeat;
	width: 19px;
	height: 18px;
	position: absolute;
	left: 200px;
	top: 50%;
	margin-top: -9px;	
}
.search ul li input{
	width: 222px;
	height: 34px;
	background: #fff;
	color: #a8aaaa;
	
}

.search a{
	display: block;
	text-decoration: none;
	color: #fff;
	width: 235px;
	height: 37px;
	line-height: 36px;
	background-color: #be4f48;
	text-align: center;
}

.dropdown-list{
	position: absolute;
	list-style: none;
	border: 1px solid #be4f48;	
	padding-left: 0;
    border-top-width: 0;

}
.dropdown-list >li{
	background: #e3e3e4;
	width: 186px;
	padding-left: 38px;
	line-height: 28px;
	height: 28px;
	font-size: 12px;
}
.dropdown-list > li:hover {
    background: #be4f48 url("../image/task07/select-bg.png") no-repeat 10px 50%;
    color: #fff;
}


/*activity*/
.activity{
	height: 505px;
	background: #f7f7f7;
	padding-top: 100px;
}
.activity-ul{
	list-style: none;
}
.activity-ul> li {
	float: left;
	margin-right: 36px;
}
.activity-ul> li:nth-child(1) {
	margin-left: 145px;
}
.activity-ul div{
	color: #333;
	text-align: center;
	font-family:"Microsoft YaHei";
}
.activity-ul h6{
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}
.activity-ul img {
	padding: 20px 10px;
	background: #fff;
	border: 1px solid #e0dddc;
	margin-bottom: 10px;
}

.activity-ul p{
	color: #989898;
	margin: 5px;
}

.activity-ul h6:nth-child(2){
	text-align: justify;
}
/*product*/
h3,h1,p{
	padding: 0;
	margin: 0;
}
.product_1{
	height: 567px;
}
.product_1 .left{
	float: left;
	background: #fff url("../image/task07/model1.png") no-repeat;
	width: 851px;
	height: 567px;	
	background-size: cover; 
	text-align: center;
	color:#fff;
}

.product_1  .left  h3{
	font-size: 50px;
	line-height: 75px;
	margin-top: 120px;
	font-weight: normal;
}

.product_1  .left  h1{
	font-size: 157px;	
	line-height: 157px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: -20px;
}
.product_1  .left p{
	font-size: 21px;	
	line-height: 43px;
	font-weight: normal;
}
.product_1 .right {
	float: right;
	height: 567px;
	width: 498px;
	text-align: center;
	position: relative;
}

.product_1 .right h2{
	font-size: 21px;
	font-weight: normal;
	padding-top: 163px;
}
.product_1 .right h2 span{
	color: red;
}

.product_1 .right p{
	margin: 0 auto;
	width: 280px;

	line-height: 40px;
	font-size: 12px;
	color: #999;
	text-align: left;
	margin-bottom: 50px;
}

.product_1 .right a{
	border: 2px solid #e25d60;
	padding: 10px 20px;
	text-decoration: none;
	color: #e25d60;
}
.product_1 .right ul li{
	float: left;
	display: inline-block;
	border-radius: 50%;
    color: #fff;
    border: 1px solid #929293;
    margin: 0 7px;
    width: 10px;
    height: 10px;


}
.product_1 .right ul {
	text-align: center;
  	position: absolute;
	left: 50%;
	margin-left: -75px;
	margin-top: 40px;
}
.product_1 .right ul li:nth-child(1){
	background: #929293;
}
/*hot*/
.hot{
	height: 520px;
}
.hot-ul{
	list-style: none;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	text-align: center;

}
.hot-ul li{
	font-family: "SimHei";
	position: relative; 
}

.hot-ul li:nth-child(1){
	float: left;
	width: 498px;
	height: 520px;
	background-color: #e74f4d;
	color: #fff;
}

.hot-ul li:nth-child(3){
	
	height: 520px;
	margin-left: 498px;
	margin-right: 498px;
	width: auto;
	color: #000;
}


.hot-ul li:nth-child(2){
	background: #fff url("../image/task07/model2.png") no-repeat;
	background-size: cover;
	float: right;
	width: 498px;
	height: 520px;
}

.hot-ul li h2{
	font-weight: normal;
	font-size: 21px;
	margin-top: 0;
}
.hot-ul li a{
	text-decoration: none;
	padding: 10px 20px;
	
}
.hot-a1{
	color: #000;
	border: 1px solid #fff;

}

.hot-a2{	
	color: #ed7b7a;
	border: 1px solid #ed7b7a;

}

.hot-ul li div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.jionus {
	height: 300px;
	text-align: center;
	padding-top: 110px; 
}
.jionus h3{
	
	color: #000;
	font-size: 21px;
	font-weight: normal;
}

/*input*/
.input{
	height: 390px;
	padding: 0 142px;
	
}

.input ul{
	list-style: none;
	width: 300px;
	text-align: left;
	float: left;
}
.input ul li{
	position: relative;
}
.input ul li h6{
	font-weight: normal;
	font-size: 14px;
	font-family: "SimHei"
}
.input ul li p{
	font-size: 12px;
	font-family: "SimSun";
	color: #aaa;
	padding-bottom: 20px;
}
.input a{
	position: absolute;
	text-decoration: none;
	color: #000;
	background: #fff url("../image/task07/arrow.png") no-repeat left 50%; 
	padding-left: 20px;	
	bottom: 0;
	right: 0;
}
.input-form{
	float: left;
	width: 680px;
	padding-left: 45px;
}
.input-form div{
	width: 100%;	
}

.input-style{
	min-width: 280px;
    min-height: 40px;
    border: none;
    background: #ededee;
    margin-bottom: 14px;
    margin-right: 15px;
    padding: 0 20px;
    outline: none;
    color: #000;
}
.input-textarea{
    width: 620px;
    height: 120px;
    padding: 10px 20px;
    overflow: visible;
    border: none;
    background: #ededee;
    outline: none;
    resize: none;
}
.submit{
	width: 660px;
	background: #ededee;
	padding: 20px 0;
	margin-top: 10px;
	border: none;
	font-size: 14px;
	color: #333;
	font-family: "SimHei";
}

/*contact*/
.contact{
	height: 260px;
	text-align: center;
	background-color: #33363f;
	color: #fff;
	padding-top: 100px;
}
.contact h2{
	font-family: "SimSun";
	font-size: 21px;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 0px;
}
.contact p{
	font-family: "SimHei";
	font-size: 12px;
	line-height: 18px;
}
.contact-input{
	width: 430px;
	height: 40px;
	font-size: 14px;
	border: none;
	padding: 0;
	padding-left: 10px;
}
.submit-text{
	width: 80px;
	height: 40px;
	font-size: 15px;
	border: none;
	background-color: #686166;
	color: #fff;
	line-height: 40px;
	margin-left: -4px;
}
.input-div{
	margin-top: 20px;
	margin-bottom: 35px;
}

.icon{
	width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
}
.qq{
	background: url("../image/task07/qq.png") no-repeat;
}
.weibo{
	background: url("../image/task07/weibo.png") no-repeat;
}
.twitter{
	background: url("../image/task07/fb.png") no-repeat;
}
.earth{
	background: url("../image/task07/globe.png") no-repeat;
}
/*footer*/
footer{
	position: relative;
	height: 40px;
	background-color: #2f2f38;
	font-size: 12px;
}
.footer-left{
	position: absolute;
	color: #fff;
	top: 20px;
	left: 100px;
}
.footer-right{
	position: absolute;
	color: #fff;
	top: 20px;
	right: 100px;
	text-decoration: none;
}