body {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
	background-color: #F3F3F3;
}

/*清除浮动*/
.clearfix {
	content: "";
	display: block;
	clear: both;
}

.wrapper {
	width: 892px;
	height: 1386px;
	padding: 0 44px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 5px 10px #eee;
}


header {
	margin: 0 auto;
	border-bottom: 2px solid #938e8c;
	position: relative;
	height: 61px;
	margin-bottom: 25px;
}


header div {
	width: 110px;
	height: 61px;
	background-color: #d55d5c;
	float: left;
}

header>div>a {
	text-decoration: none;
	color: #fff;
	left: 5px;
}
header>span {
	color: #d45d5c;
	right: 5px;
}
header>div>a,header>span{
	font-size: 12px;
	font-family: "SimHei";
	position: absolute;
	bottom: 5px;
}

/*part2 banner*/
.part2 {
	height: 301px;
	width: inherit;
	margin-bottom: 20px;
}

div.banner-wrap {
	width: 641px;
	height: inherit;
	float: left;
	position: relative;
	overflow: hidden;
}
.banner-wrap img{
	height: inherit;
	width: 641px;
}

.banner-left ,
.banner-right{
	width: 191px;
	height: 301px;
	position: absolute;	
}

.banner-left{
	background: green;
	opacity: .1;
	left: 0;
}
.banner-right{
	background: red;
	opacity: .1;
	right: 0;
}
/*part2  about*/
div.about {
	height: 299px;
	width: 203px;
	border-top: 2px solid #cc8091;
	float: right;
	position: relative;
}

h1,h2,h3 {
	padding: 0;
	margin: 0;
}

.about h2{
	font-size: 24px;
	text-decoration: underline;
	text-transform: capitalize;
	font-variant: small-caps;
	line-height: 40px;
}
.about p{
	font-size: 12px;
	color: #676767;
	font-family: "KaiTi";
	margin: 0 0 10px 0;
}
.about h1 {
	font-size: 116px;
	color: #75b86b;
	font-style: italic;
	text-indent: -16px;
	line-height: 120px;
}

.about h3 {
	font-size: 55px;
	color: #cc8091;
	line-height: 50px;
	bottom: 0;
	position: absolute;
}

.span1 ,
.span2 {
	position: absolute;
	color: #cc8091;
}
.span1 {
	font-size: 21px;
	bottom: 15px;
	left: 90px;
}
.span2 {
	font-size: 12px;
	bottom: 0;
	left: 90px;
}

/*part3*/
.part3 {
	height: 235px;
	width: inherit;
	margin-bottom: 20px;
}
.part3 div{
	float: left;
	width: 200px;
	padding-right: 20px;
}

.part3 div:nth-child(1) h2{
	color: #418c59;
}
.part3 div:nth-child(2) h2{
	color: #d2994f;
}
.part3 div:nth-child(3) h2{
	color: #cc7680;
}

.part3 h2{
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;
}

.part3 p{
	font-size: 12px;
	color: #767777;
	font-family: "SimSun";
	line-height: 16px;
	margin: 0 0 15px
}

ul.list{
	padding: 0;
	list-style: none;	
}

ul.list li{
	font-size: 12px;
    margin-bottom: 16px;
	opacity: .7;
}
ul.list li span{
	color: #cd4a48;
}

/*part4*/
.part4{
	height: 650px;
	margin-bottom: 10px;
}

.part-left{
	width: 415px;
	float: left;
}
.part-right {
	width: 458px;
	float: right;
}

.part-left h2 {
	text-transform: uppercase;
	font-size: 42px;
	font-weight: bold;
	color: #11456b;
	font-family: "SimHei";
}
.part-left h2 span{
	font-size: 72px;
	color: #f5e327;
	font-weight: bold;
	font-style: italic;
}
.part-left h3{
		font-size: 33px;
		color: #11456b;
		font-family: "SimHei";
		font-weight: bold;
		margin-bottom: 10px;
}

.first{
	text-indent: 0;
}
article {
	padding-top: 18px;
    border-top: 2px solid #11456b;
}

article p{
	font-size: 12px;
	color: #767777;
	font-family: "SimSun";
	line-height: 18px;
    margin-bottom: 16px;
    margin: 0;
}

p.first:first-letter{
	font-size: 70px;
	color: #f5e327;
	font-family: "Microsoft YaHei";
	display: block;
	float: left;
	line-height: 60px;
	margin: 0 10px 0 0;
}
article img {
	float: right;
	margin: 10px 0 10px 5px;
	width: 167px;
	height: 288px;
}
.right-img{
	width: 458px;
	height: 275px;
	position: relative;
	margin-bottom: 34px;
	overflow: hidden;
}
.right-text{
	position: absolute;
	bottom: 0;
	width: 458px;
	height: 61px;
	background: rgba(0,0,0,.5);
}

.right-text h3{
	color: #fff;
	font-size: 26px;
	border-left: 3px solid #72b16a;
	margin-left: 40px;
	padding-left: 15px;
	position: absolute;
	bottom: 10px;
}

.right-text span {
	font-size: 12px;
	color: #72b16a;
	line-height: 140%;
	font-style: italic;
	position: absolute;
	bottom: 10px;
	left: 165px;
}

.right-content {
	height: 300px;
	background: rgba(238,238,214,.8);
	padding-top: 20px;
	position: relative;
}

.right-content ul{
	margin: 0;
	list-style: url(../image/task6-icon.png);
	margin-bottom: 46px;
}
.right-content ul li{
	font-size: 16px;
	color: #5a5b5b;
	font-family: "Simsun";
	line-height: 20px;
	text-align: left;
	margin-bottom: 20px;
}

li span{
	font-size: 12px;
	color: #5a5b5b;
	font-style: italic;
	text-align: right;
	line-height: 20px;

}

.right-content-left{
    width: 260px;
    height: 160px;
    background-color: #EC597A;
    position: absolute;
    left: 0;
    bottom: 0;
}

.right-content-left h1{
	font-size: 110px;
	color: #fff;
	float: left;
	margin: 5px 10px;
}

.right-content-left  div{
    height: 86px;
    width: 165px;
    float: right;
    margin-top: 37px;
    border-left: 2px solid #fff;
    padding-left: 5px;
}

.right-content-left  h3{
	font-size: 21px;
	color: #fff;
	font-style: italic;
	line-height: 24px;
	font-family: "SimHei";
	text-transform: uppercase;
}

.right-content-left p{
    font-size: 12px;
    color: #fff;
   
    margin:2px 0 0 0;
}
.right-content-right{
	width: 178px;
    padding: 0 10px;
    float: right;
}
.right-content-right span{
    color: #EC597A;
    font-size: 72px;
    font-family: "SimHei";
    display: inline-block;
    height: 40px;
    width: 70px;
    position: relative;
}
.left-mark {
    left: -35px;
}

.right-mark {
    left: 120px;
    top: 5px;
}

.right-content-right p {
    display: inline-block;
    margin: -28px 0 0 0;
    color: #5a5b5b;
    font-size: 14px;
    font-family: "SimHei";
    font-style: italic;
}
footer {
	border-top: 1px solid #938e8c;
	position: relative;
	height: 61px;
}
footer span{
	float: right;
	font-size: 12px;
	color: #d45d5c;
	font-family: "SimHei";
}